/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

.dark-mode .header {
  background-color: #2a2a2a;
}

.logo {
  display: flex;
  align-items: center;
}

.shepherd-logo {
  height: 30px;
  margin-right: 10px;
}

.shepherd-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.dark-mode .shepherd-text {
  color: #ffffff;
}

/* Upload Button Styles */
.doc-upload-button {
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.doc-upload-button:hover {
  background-color: #5b54e0;
}

.dark-mode .doc-upload-button {
  background-color: #2c286d;
}

.dark-mode .doc-upload-button:hover {
  background-color: #2a2a8a;
}

/* Dark Mode Toggle Styles */
.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-right: 10px; /* Adjust margin as needed */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2c286d;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Main Content Styles */
.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.dark-mode .main-content {
  background-color: #1e1e1e;
}

/* Chat Container Styles */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark-mode .chat-container {
  background-color: #2a2a2a;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 20px;
}

.message.bot {
  text-align: left;
  background-color: #f4f4f4; /* Light grey background for bot messages */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.message.user {
  text-align: right;
  background-color: #f3f2fb; /* Light blue background for user messages */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  
}

.dark-mode .message.bot {
  text-align: left;
  background-color: #333333; /* Dark grey for dark mode */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.dark-mode .message.user {
  text-align: right;
  background-color: #2c286d; /* Dark blue for dark mode */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sender-name {
  font-weight: bold;
}

.shepherd-logo-small {
  height: 20px;
  vertical-align: middle;
}

/* Input Form Styles */
.input-form {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.dark-mode .input-form {
  background-color: #3a3a3a;
}

.input-form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.input-form button {
  background-color: #6c63ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.input-form button:hover {
  background-color: #5b54e0;
}

.dark-mode .input-form button:hover {
  background-color: #2a2a8a;
}

.dark-mode .input-form button {
  background-color: #2c286d
}

.doc-upload-icon {
  color: #6c757d;
  font-size: 1.5em;
  padding: 10px 10px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.doc-upload-icon:hover {
  color: #007bff;
}

input::placeholder {
  color: #999;
}

.dark-mode input::placeholder {
  color: #bbb;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
  border-right: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.dark-mode .sidebar {
  background-color: #2a2a2a;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.dark-mode .sidebar h2 {
  color: #fff;
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.convo-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.dark-mode .convo-item {
  background-color: #3a3a3a;
}

.convo-item:hover {
  background-color: #e0e0e0;
}

.dark-mode .convo-item:hover {
  background-color: #4a4a4a;
}

/* Specific Slider Styles */
.slider-round {
  font-weight: bold;
  font-size: 1.5rem;
}

.dark-mode .slider-round {
  color: #ffffff;
}


